* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.listItem {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.addPost {
  background-color: aqua;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(64, 97, 206);
}
.navbar__item {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
.navbar__item:hover {
  color: rgb(206, 153, 88);
}
.listItem__link {
  text-decoration: none;color: rgb(106, 134, 187);
  font-weight: 500;
  height: 1.5em;
}
.listItem__link:hover {
  border-bottom: 1px solid black;
}